<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="personne">Personnes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="emplois">Emplois</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="liste-personnes">Liste Personnes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
